  <%- include ../sellbuylayouts/header.ejs %>
    <div id="signup" class="popupContainer bg-white">
       
        <div class="card-body">
           <h1>Login Successfully</h1>
        </div>
    </div>
    
</body>
</html>